<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>02-双向数据绑定</title>
</head>

<body>
  <div id="app">
    <!--增加v-model 指令实现数据影响视图效果-->
    <!-- v-model  实现双向数据绑定-->
    <input v-model='a'>
    <input v-model='b'>
    <div>
      {{a}}-{{b}}={{a-b}}
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script>
  let vm = new Vue({
    el: "#app",
    data: {
      a: 1,
      b: 2,
    }
  });
</script>

</html>