@import "reset.min.less";

html {
    font-size: 100px;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    // font-family: "Microsoft JhengHei";
    /*640px的设计稿 1rem=100px,响应式布局就改这里就好了*/
}

html,
body {
    position: relative;
    z-index: -4;
    height: 100%;
    overflow: hidden;
    background: #F4F4F4;
}

/*container*/
.mainBox {
    position: relative;
    z-index: -3;
    margin: 0 auto;
    max-width: 640px;
    height: 100%;
    background: #fff
}


/*公共样式*/
.loadingBox, .phoneBox, .messageBox{
    // width: 100%;
    //display:none;
    height: 100%;
    position: relative;
    overflow: hidden;   
}

/*LOADING BOX*/
.loadingBox {
    display:none;
    background: #000;
    text-align: center;
    color: #fff;

    .title {
        height: 1.4rem;
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        // margin-top: -2.2rem;
        margin-top: -2.6rem;


        h1 {
            line-height: 0.75rem;
            font-size: 0.5rem;
        }

        h3 {
            height: 0.45rem;
            margin-top: 0.2rem;
            color: #fff;
            font-size: 0.26rem;
            letter-spacing: 0.04rem;
        }
    }

    .progress {
        position: absolute;
        left: 50%;
        margin-left: -2.3rem;
        top: 50%;
        margin-top: 1.15rem;
        width: 4.6rem;
        height: 0.3rem;
        background: #fff;
        border-radius: 0.15rem;

        .current {
            position: absolute;
            left: 0;
            top: 0;
            width: 0%;
            // width: 0.3rem;
            height: 100%;
            // background: red;
            // background: -webkit-linear-gradient(45deg);
            // -webkit-background: -webkit-linear-gradient(left bottom ,#5cb85c 0% ,#5cb85c 25% ,#74c274 25%, #74c274 50%,#5cb85c 50%,#5cb85c 75%,#74c274 75%,#74c274 100%);
            background: -webkit-linear-gradient(left bottom, #5cb85c 0%, #5cb85c 25%, #74c274 25%, #74c274 50%, #5cb85c 50%, #5cb85c 75%, #74c274 75%, #74c274 100%);
            // -webkit-animation: loadingMove 0.3s linear 0s infinite both;
            animation: loadingMove 0.3s linear 0s infinite both;

            background-size: 0.3rem 0.3rem;
            border-radius: 0.15rem;

            /*给CURRENT设置一个过渡动画:当我们在JS中控制它的宽度在变化的时候,给其一个平稳的过渡动画效果(而不是生硬的改变)*/
            //给current增加过渡效果
            //transition: all 0.3s linear 0s;
            //        默认值 动画持续时间 线性  延迟时间
            transition: 0.3s;

        }
    }

}

@keyframes loadingMove {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 -.3rem;
    }
}

.phoneBox {  
    display:none;  
    z-index: -2;
    // display: block;
    background: url('../img/zf_phoneBg.jpg');
    background-size: cover; //cover采集覆盖的意思

    //意思就是实现盒子铺满，等比铺满盒子
    .phoneTitle {
        position: absolute;
        left: 50%;
        margin-left: -1.31rem;
        top: 0.5rem;
        width: 2.62rem;
        height: 1.25rem;
        color: #fff;
        text-align: center;

        h2 {
            height: 0.8rem;
            width: 100%;
            font-size: 0.45rem;
            line-height: 0.45rem;
        }

        h3 {
            height: 0.45rem;
            width: 100%;
            font-size: 0.15rem;
            line-height: 0.15rem;
            color: #F4F4F4;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap ;
            cursor: pointer;
        }

        h3:hover {
            color: blue;
        }

        span {
            top: 1.85rem;
            line-height: 0.3rem;
            font-size: 0.3rem;
            //文字间距
            letter-spacing: 0.05rem;
            margin-top: 0.1rem;
            display: none;
        }
    }

    .answerBox {
        width: 5.2rem;
        height: 3.6rem;
        position: absolute;
        bottom: 0.3rem;
        left: 50%;
        margin-left: -2.6rem;
        color: #fff;
        background: url("../img/zf_phoneListen.png") no-repeat;
        background-size: 100% 100%;

        .markMove {
            //遮罩层效果（动画实现）
            //大小跟接听按钮一般大小
            position: absolute;
            right: -0.066rem;
            bottom: 0.459rem;
            width: 1.6rem;
            height: 1.6rem;
            border: .03rem solid #0F0;
            border-radius: 0.8rem;
            //border-radius: 50%;
            animation: answerMove 1s linear 0s infinite both;
            //这样动画效果实现了，但是 它在背景图的上方，我们应该改变它的z-index值让它居于 背景图的下方即可
            z-index: -1;
        }

        .markLink {
            .markMove; //把.markMove的东西继承过来
            z-index: 1;
            // background: red;
            border: 0;
            // border-radius:0;
            animation: null;
        }
    }

    .hangUpBox {
        position: absolute;
        bottom: .3rem;
        left: 50%;
        margin-left: -2.6rem;
        width: 5.2rem;
        height: 6.59rem;
        background: url('../img/zf_phoneDetail.png') no-repeat;
        background-size: 100% 100%;
        //=>初始位置是在PHONE的底部（看不见：溢出内容隐藏），当点击接听按钮后，控制它从底下出来即可（JS中改变样式） “我们可以基于TRANSFORM改变样式的尽量不要使用传统的样式属性，因为TRANSFORM操作开启了浏览器的硬件加速，性能更高一些”
        transform: translateY(6.89rem);
        transition: .3s;

        .markLink {
            position: absolute;
            bottom: .26rem;
            left: 50%;
            z-index: 1;
            margin-left: -.8rem;
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}

@keyframes answerMove {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(0);
    }
}

.messageBox {
    display:none;
    position: relative;
    
    // width: 100%;
    // height: 100%;
    background: #eaeaea;
    .warpper{
        width: 100%;
        // height: 
        position: absolute;
        top: 0.2rem;
        left: 0;
        transform: 0.3s;

        li{
           
            position: relative;
            max-width: 3.6rem;
            padding: 0.25rem;
            margin-bottom: 0.4rem;
            border-radius: 0.1rem;
            line-height: 0.4rem;
            font-size: 0.26rem;
            opacity: 0;//刚开始的时候让所有的li隐藏，根据需求让其出来
            
            //border:1px solid red;


            .pic{
                position: absolute;
                top:0;
                width:0.82rem;
                height: 0.82rem;
                border-radius: 50%;
            }

            .arrow{                
                position: absolute;
                top: 0.2rem;
                width: 0.1rem;
                height: 0.2rem;
            }

            &.active{
                animation: messageListMove 0.3s linear 0s both;
            }
            
            &.self{
                float: left;
                background: #fff;
                border: 0.02rem solid #cacaca;
                margin-left:1.25rem;
                .pic{
                    left : -1rem;
                }
                .arrow{
                    background: url('../img/zf_messageArrow1.png') no-repeat;
                    background-size: 100% 100%;
                    left: -0.1rem;
                }
            }

            &.interviewer{
                float: right;
                background: #a2e45c;
                border: 0.02rem solid #96b474;
                margin-right:1.25rem;
                .pic{                    
                    right: -1rem;
                }
                .arrow{
                    background: url('../img/zf_messageArrow2.png') no-repeat;
                    background-size: 100% 100%;
                    right: -0.1rem;
                }
            }
        }

        
    }

    //keyBoardBox 
    .keyBoardBox{
        width:100%;
        height: 5.16rem;
        position: absolute;
        left: 0;
        bottom: -0.54rem;
        background: url('../img/zf_messageKeyboard.png') no-repeat; 
        background-size: 100% 100%;
        
        transform: translateY(3.7rem) ;
        transition: 0.3s;
        
        #inputText{
            border: none;
            position: absolute;
            left: 0.9rem;
            top:0.35rem;
            // border:1px solid red;
            width: 4rem;
            height: 0.4rem; 
            font-size: 0.25rem;
        }

        .submit{
            display: none;
            position: absolute;
            width: 1.49rem;
            height: 0.74rem;
            right:0.1rem;
            bottom:0.6rem;
            // border: 1px solid red;
            background: url('../img/zf_messageChat.png') no-repeat;
            background-size: 100% 100%;
        }
        
        
    }


}

@keyframes messageListMove {
    from {
        //透明度从0-1
        opacity: 0;
        //位置从应该所处位置向下偏移100px~正常位置
        transform: translateY(1rem);
    }to{
        opacity: 1;
        transform: translateY(0rem);
    }
}